body {
    font-family: Arial, sans-serif;
  }
  
  #table-container {
    margin: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
 #container.result-icon {
    width: 3%;
    height: 3%;
    margin-right: 3px; /* Add margin to separate the icons */
}  